<!doctype html>
<html lang="en">
    <head>
        <title>File Metadata Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                File Metadata Microservice
            </h1>
            <!-- Form --> 
            <form action='/analyse' method="POST">
                <input type="file" name="filechosen"/>
                <input type="submit" value="Analyser"/>
            </form>
        </div>
    </body>
</html>